@media screen and (min-width: 600px) {
  nav .menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: static;
    background: none;
    box-shadow: none;
  }

  nav .hamburger {
    display: none;
  }

  main {
    padding: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media screen and (min-width: 768px) {
  main .gallery {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  main h2 {
    font-size: 1rem;
  }

  .banner h1, .banner h3 {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  }
}


@media screen and (max-width: 768px) {
  .banner {
    height: 300px;
    padding: 0 15px;
  }

  .banner h1 {
    font-size: 1.4em;
  }

  .banner h3 {
    padding: 10px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    height: 250px;
  }

  .banner h1 {
    font-size: 1.4em;
  }

  .banner h3 {
    padding: 10px;
    font-size: 1.2em;
  }
}
